[alias]
	grin = grep -in --color
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	grn = grep -n --color
[user]
	name = Kevin Carrogan
	email = kevin.carrogan@gmail.com
[push]
	default = current
[pull]
	default = current
[http]
	cookiefile = /Users/kevincarrogan/.gitcookies
[credential]
	helper = osxkeychain
[init]
	templatedir = ~/.git-templates
